html, body{
    margin:0px !important;
    padding: 0px !important;
 }
.logo {
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
.section {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    background-image: url('file:///C:/Users/Leonardo.Zianni/Desktop/PCA-Sustentabilidade/imagens/sustentabilidade.jpg');
    background-position: 30% 45%;
    background-size: cover;
}
.sectionDenuncie {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    background-image: url('file:///C:/Users/Leonardo.Zianni/Desktop/PCA-Sustentabilidade/imagens/denuncie.jpeg');
    background-position: 30% 45%;
    background-size: cover;
}
.bg01 {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    background-image: url('file:///C:/Users/Leonardo.Zianni/Desktop/PCA-Sustentabilidade/imagens/guaxinim.jpg');
    background-position: 30% 45%;
    background-size: cover;
}
.bg02 {
    display: table;
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    background-image: url('file:///C:/Users/Leonardo.Zianni/Desktop/PCA-Sustentabilidade/imagens/leopardo.jpg');
    background-position: 30% 45%;
    background-size: cover;
}
.content{
    color: #FFF;
    font-size: 30px;
    line-height: 30px;
    font-weight: 900;
    text-align: center;
    margin-left: 60%;
    max-width: 500px;
    margin-top: 140px;
}
.contentDenuncia{
    color: #FFF;
    font-size: 32px;
    line-height: 30px;
    font-weight: 900;
    text-align: center;
    margin-top: 529px;
}
.content2{
    margin-top: 50px;
    margin-bottom: 50px;
}
.textAnimal{
    max-width: 600px;
    padding: 20px;
    color: #FFF;
    font-family: arial;
    font-size: 30px;
    line-height: 50px;
}


/*Mobile*/
@media screen and (max-width: 600px) {
    
    .section{
        display: block;
    }
    .content {
        color: #FFF;
        font-size: 17px;
        line-height: 26px;
        font-weight: 900;
        text-align: center;
        margin-left: 0%;
        margin-top: 280px;
    }
    .bg01{
        display: block;
    }
    .textAnimal {
        max-width: 600px;
        padding: 20px;
        color: #FFF;
        font-family: arial;
        font-size: 20px;
        line-height: 30px;
    }
    .contentDenuncia {
        color: #FFF;
        font-size: 19px;
        line-height: 25px;
        font-weight: 900;
        text-align: center;
        padding: 2px;
        margin: 0px;
    }
    .sectionDenuncie{
        background-color: #000;
        background-image: none;
    }
  }